PyPDF2
langchain
python-dotenv
faiss-cpu
sentence-transformers
openai
langchain-community
transformers
sentencepiece
accelerate
bitsandbytes
datasets
PyMuPDF
nltk
fastapi
uvicorn
nest-asyncio
pyngrok
